wp-includes
.history
node_modules
*.tgz
*.gz
stats
wp-admin
wp-content
robots2.txt
download.php
wp-activate.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
cgi-bin/abcd.sh
cgi-bin/actions.cgi
cgi-bin/http2https.py
cgi-bin/support.php
wp-activate.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
